
@import "./normallize.styl"

img
  display: block
  max-width 100%
body
  max-width 420px
  margin auto !important
  background #222!important

  #app
    width: 100%
    background #fff
@import "./list.styl"
@import "./article.styl"

